In [ ]:
print('hello')

In [ ]:
print('new')

here you can write notes

In [ ]:
print('new')

In [ ]:
2/1

In [ ]:
7/4

In [ ]:
7%4

In [ ]:
23 % 2

In [ ]:
a = 5

In [ ]:
a

In [ ]:
a + a

In [ ]:
a = a + a

In [ ]:
a

In [ ]:
a

In [ ]:
a + a

In [ ]:
a = a + a

In [ ]:
a

In [ ]:
type(a)

In [ ]:
a=30.1

In [ ]:
type(a)

In [ ]:
int=4

In [ ]:
int

In [ ]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [ ]:
my_taxes

In [ ]:
'hello'

In [ ]:
'this is also a string'

In [ ]:
print("Hello")

In [ ]:
print('hello \n world')

In [ ]:
len('hello')

In [ ]:
len('I am hungry')

In [ ]:
mystring = "Hello World"

In [ ]:
mystring

In [ ]:
mystring [0]

In [ ]:
mystring [-3]

In [ ]:
mystring [-0]

In [ ]:
mystring [-1]

In [ ]:
mystring = abcdefghijk

In [ ]:
mystring = 'abcdefghijk'

In [ ]:
mystring [1:10:2]

In [1]:
mystring [::2]

NameError: name 'mystring' is not defined

In [2]:
name = "Sam"

In [4]:
last_letters = name[1:]

In [5]:
last_letters

'am'

In [6]:
'P' + last_letters

'Pam'

In [7]:
letter = 'z'

In [8]:
letter * 10

'zzzzzzzzzz'

In [9]:
print(letter *10)

zzzzzzzzzz

In [10]:
2+3

5

In [11]:
'2' + '3'

'23'

In [12]:
x = 'Hello World'

In [15]:
x.lower()

'hello world'

In [16]:
x.split()

['Hello', 'World']

In [17]:
x = 'Hi this is a string'

In [18]:
x.split

In [21]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [22]:
print('This is a string {}' .format('INSERTED'))

This is a string INSERTED

In [26]:
print('The {2} {1} {0}' .format('fox','brown','quick'))

The quick brown fox

In [29]:
print('The {f} {f} {f}' .format(f='fox', b='brown', q='quick'))

The fox fox fox

In [37]:
result = 104.123456

result

In [32]:
result

0.1287001287001287

In [38]:
print("The result was {r:10.6f}" .format(r=result
                                ))

The result was 104.123456

In [39]:
name = "Jose"

In [43]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [45]:
name = "Sam"
age = "3"

In [46]:
print(f'{name} is {age} years old')

Sam is 3 years old

In [47]:
my_list = [1,2,3]

In [48]:
len(my_list)

3

In [49]:
mylist = ['one', 'two', 'three']

In [50]:
mylist[0]

'one'

In [51]:
mylist[:2]

['one', 'two']

In [54]:
another_list = ['four', 'five']

In [55]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [56]:
another_list + mylist

['four', 'five', 'one', 'two', 'three']

In [59]:
new_list = mylist + another_list

In [60]:
new_list

['one', 'two', 'three', 'four', 'five']

In [61]:
new_list[0] = 'ONE ALL CAPS'

In [62]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [64]:
new_list.append('six')

In [65]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'six']

In [66]:
new_list.remove('six')

In [67]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [68]:
new_list.pop()

'six'

In [69]:
new_list.append('seven')

In [70]:
new_list.pop()

'seven'

In [71]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [72]:
popped_item = new_list.pop()

In [73]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four']

In [77]:
new_list.append('seven')

In [78]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [79]:
new_list.pop()

'seven'

In [80]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [81]:
popped_item = new_list.pop()

In [82]:
popped_item

'six'

In [83]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [84]:
new_list.pop(2)

'three'

In [85]:
new_list

['ONE ALL CAPS', 'two', 'four', 'five']

In [86]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [87]:
new_list.sort()

In [88]:
new_list

['a', 'b', 'c', 'e', 'x']

In [89]:
num_list.sort()

In [90]:
num_list

[1, 3, 4, 8]

In [91]:
num_list.reverse()

In [92]:
num_list

[8, 4, 3, 1]

In [93]:
num_list.sort()
my_numbers = num_list

In [94]:
my_numbers

[1, 3, 4, 8]

In [95]:
my_dict = {'key1' : 'value1', 'key2' : 'value2'}

In [96]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [97]:
my_dict['key1']

'value1'

In [98]:
prices_lookup = {'apple':'2.99', 'oranges':'1.99', 'milk' : '5.80'}

In [99]:
prices_lookup['oranges']

'1.99'

In [100]:
d = {'k1' :123, 'k2':[0,1,2],'k3':{'insideKey':100}}

In [103]:
d['k3']['insideKey']

100

In [104]:
d={'key1':['a', 'b','c']}

In [105]:
mylist=d['key1']

In [106]:
letter=mylist[2]

In [107]:
letter

'c'

In [108]:
letter.upper()

'C'

In [109]:
d = {'k1':100, 'k2':200}

In [111]:
d['k3']=300

In [112]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [113]:
d.keys

In [114]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [115]:
d.values()

dict_values([100, 200, 300])

In [116]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])